name: Binary build

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
      - name: Install ruby-packer
        run: |
          sudo apt-get install squashfs-tools build-essential make -y
          curl https://i.jpillora.com/ericbeland/ruby-packer! | bash
          mv /usr/local/bin/ruby-packer /usr/local/bin/rubyc
      - name: Build Jekyll Standalone Binary
        run: |
          rubyc -o jekyll exe/jekyll
          tar -czvf linux-x64.tar.gz jekyll
      - name: Upload Release
        uses: softprops/action-gh-release@v1
        with:
          files: linux-x64.tar.gz
          prerelease: false
